<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KnowledgePress HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,500,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="home-1">

    <!-- Navbar -->

    <header class="banner navbar navbar-static-top" role="banner">
      <div class="container">

        <div class="navbar-header">

          <div class="navbar-brand">
            <a title="KnowledgePress" href="index.html"><img src="assets/img/logo.png" alt="KnowledgePress"/></a>
          </div>
          
          <button data-target=".nav-responsive" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <nav class="nav-main hidden-xs" role="navigation">
          <ul id="menu-main" class="nav navbar-nav">
            <li class="active dropdown">
              <a class="dropdown-toggle" data-target="#" href="index.html">Home</a>
              <ul class="dropdown-menu">
                <li><a href="index2.html">Home 2</a></li>
              </ul>
            </li>
            <li><a href="knowledgebase.html">Knowledge Base</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-target="#" href="faq-accordion.html">FAQ</a>
              <ul class="dropdown-menu">
                <li><a href="faq-accordion.html">FAQ Accordion</a></li>
                <li><a href="faq.html">FAQ Default</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-target="#" href="index.html#">Features</a>
              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact Page</a></li>
                <li><a href="full.html">Full Width Page</a></li>
                <li><a href="components.html">B3 Components</a></li>
                <li><a href="columns.html">Columns</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="videos.html">Responsive Videos</a></li>
              </ul>
            </li>
          </ul>    
        </nav>

        <!-- Responsive Nav -->
        <div class="visible-xs">
          <nav class="nav-responsive collapse" role="navigation">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a class="responsive-submenu" href="index2.html">Home 2</a></li>
              <li><a href="knowledgebase.html">Knowledge Base</a></li>
              <li><a href="articles.html">Articles</a></li>
              <li><a href="faq-accordion.html">FAQ</a></li>
              <li><a class="responsive-submenu" href="faq-accordion.html">FAQ Accordion</a></li>
              <li><a class="responsive-submenu" href="faq.html">FAQ Default</a></li>
              <li><a href="index.html#">Features</a></li>
              <li><a class="responsive-submenu" href="contact.html">Contact Page</a></li>
              <li><a class="responsive-submenu" href="full.html">Full Width Page</a></li>
              <li><a class="responsive-submenu" href="components.html">B3 Components</a></li>
              <li><a class="responsive-submenu" href="columns.html">Columns</a></li>
              <li><a class="responsive-submenu" href="typography.html">Typography</a></li>
              <li><a class="responsive-submenu" href="videos.html">Responsive Videos</a></li>
            </ul>       
          </nav>
        </div>

      </div>
    </header>

    <!-- Hero Section -->
    <div id="hero" class="hero-image">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>Create a Knowledge Base with Ease</h1>
            <p class="subtitle">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit</p>      
          </div>
        </div>  

        <div class="row">
          <div class="hero-box col-sm-8 col-sm-offset-2">
            <form role="search" method="get" id="searchform" class="form-search" action="index.html#">
              <div class="input-group">
                <input type="text" id="autocomplete-dynamic" name="s" id="s" class="form-control input-lg" autocomplete="off" placeholder="Find help! Enter search term here.">
                <span class="input-group-btn">
                  <input type="submit" id="searchsubmit" value="Search" class="btn">
                </span>
              </div>
            </form>
          </div>   
        </div>  

      </div>
    </div><!-- /#hero -->

    <!-- Boxes Section -->
    <div class="container">
      <div id="boxes">
        <div class="home-title">
          <h2>Welcome To Our Support Center</h2>
          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>        </div>
          <div class="row">
            <div class="col-sm-4">
              <article class="box box-left">
                <div class="circle">
                  <a href="knowledgebase.html"><span></span><i class="fa fa-file-text-o"></i></a>
                </div>
                <h3><a href="knowledgebase.html">Knowledge Base</a></h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum</p>
                <a class="btn" href="knowledgebase.html">Continue</a>
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-middle">
                <div class="circle">
                  <a href="faq-accordion.html"><span></span><i class="fa fa-question-circle"></i></a>
                </div>
                <h3><a href="faq-accordion.html">FAQ</a></h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum</p>
                <a class="btn" href="faq-accordion.html">Continue</a>
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-right">
                <div class="circle">
                  <a href="contact.html"><span></span><i class="fa fa-envelope-o"></i></a>
                </div>
                <h3><a href="contact.html">Contact</a></h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum</p>
                <a class="btn" href="contact.html">Continue</a>
              </article>
            </div>
        </div>
      </div>
    </div>

    <!-- Featured Articles Section -->
    <div id="home-featured">
      <div class="container">
        <div class="home-title">
          <h2>Knowledge Base Featured Articles</h2> 
          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p> 
        </div>
        <div class="row recent-posts">
        
          <div class="col-sm-3">
            <article>
              <header>
                <h4 class="entry-title"><i class="fa fa-picture-o"></i> <a href="article.html">Responsive Design</a></h4>
              </header>
              <div class="entry-media">
                <a href="article.html" title="Responsive Design">
                  <img width="870" height="490" src="assets/img/responsive.jpg" alt="Responsive" />                
                </a>
              </div>
              <div class="entry-content">
                <p>One morning, when Greg woke from troubled dreams, he found himself formed <a class="blog-more btn btn-xxs btn-primary" href="article.html">Read more</a></p>
              </div>
            </article>
          </div>

          <div class="col-sm-3">
            <article>
              <header>
                <h4 class="entry-title"><i class="fa fa-picture-o"></i> <a href="article.html">Live Search</a></h4>
              </header>
              <div class="entry-media">
                <a href="article.html" title="Live Search">
                  <img width="870" height="490" src="assets/img/colors-870x490.jpg" alt="colors" />                
                </a>
                </div>
                <div class="entry-content">
                  <p>A wonderful serenity has taken possession of my entire soul, like these <a class="blog-more btn btn-xxs btn-primary" href="article.html">Read more</a></p>
                </div>
            </article>
          </div>

          <div class="col-sm-3">
            <article>
              <header>
                <h4 class="entry-title"><i class="fa fa-film"></i> <a href="video.html">Using Custom Fields</a></h4>
              </header>
              <div class="entry-media fitvids">
                <iframe src="http://player.vimeo.com/video/69712594?title=0&byline=0&portrait=0&color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div> 
              <div class="entry-content">
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming <a class="blog-more btn btn-xxs btn-primary" href="video.html">Read more</a></p>
              </div>
            </article>
          </div>

          <div class="col-sm-3">
            <article>
              <header>
                <h4 class="entry-title"><i class="fa fa-film"></i> <a href="video.html">Customizing Forms</a></h4>
              </header>
              <div class="entry-media fitvids">
                <iframe src="http://player.vimeo.com/video/75660130?title=0&byline=0&portrait=0&badge=0&color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div> 
              <div class="entry-content">
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse <a class="blog-more btn btn-xxs btn-primary" href="video.html">Read more</a></p>
              </div>
            </article>
          </div>
      
        </div>
      </div>
    </div>

    <!-- Video Section -->
    <div id="home-video">
      <div class="container">
        <div class="home-title">
          <h2>Getting Started Video Tutorials</h2>          
          <p>Claritas est etiam processus dynamicus</p>        
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="box-video">
                <a href="video.html"><i class="fa fa-play-circle"></i></a>
                <h3><a href="video.html">Video Post Format</a></h3>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-video-list">
              <h3>Video Tutorials</h3>
              <ul>            
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Video Post Format</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Multiple Ship to Addresses</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Theme Installation</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Plugin Installation</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Warnings and errors</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Rewrite configuration</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Using Custom Fields</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Customizing Forms</a></h4></li>
              </ul>
              <a class="btn-videos" href="index.html#" title="">View all videos <i class="icon-chevron-right"></i></a>          
            </div>  
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Widgets -->
    <footer>
      <div class="footer-widgets">
        <div class="container">
          <div class="row">

            <section class="col-sm-3">
              <div>
                <h3>Recent Articles</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Standard Post Format">Standard Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Disabled Comments">Disabled Comments</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Theme Set Up">Theme Set Up</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Video Post Format">Video Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Follow up Emails">Follow up Emails</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-picture-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li>
                </ul>
              </div>
            </section>

            <section class="col-sm-3">
              <div>
                <h3>Popular Articles</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Multiple installs on one domain">Multiple installs on one domain</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Import and Export Extension">Import and Export Extension</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Plugin Installation">Plugin Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Local Server Setup">Local Server Setup</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Theme Installation">Theme Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Multiple Ship to Addresses">Multiple Ship to Addresses</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li>
                </ul>
              </div>
            </section>

            <section class="col-sm-3">
              <div>
                <h3>Recent Articles</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Standard Post Format">Standard Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Disabled Comments">Disabled Comments</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Theme Set Up">Theme Set Up</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Video Post Format">Video Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Follow up Emails">Follow up Emails</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-picture-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li>
                </ul>
              </div>
            </section>

            <section class="col-sm-3">
              <div>
                <h3>Popular Articles</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Multiple installs on one domain">Multiple installs on one domain</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Import and Export Extension">Import and Export Extension</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Plugin Installation">Plugin Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Local Server Setup">Local Server Setup</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Theme Installation">Theme Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Multiple Ship to Addresses">Multiple Ship to Addresses</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="index.html#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li>
                </ul>
              </div>
            </section>

          </div>
        </div>
      </div>

      <!-- Footer Info -->
      <div class="footer-info">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="social-icons">
                <li class="btn-social btn-twitter">
                  <a href="http://twitter.com/username"><img src="assets/img/social/white/icons_twitter.png" alt="Twitter" />
                  </a>
                </li>
                <li class="btn-social btn-facebook">
                  <a href="http://facebook.com/username"><img src="assets/img/social/white/icons_facebook.png" alt="Facebook" />
                  </a>
                </li>
                <li class="btn-social btn-google">
                  <a href="http://gplus.to/username"><img src="assets/img/social/white/icons_google.png" alt="Google+" />
                  </a>
                </li>
                <li class="btn-social btn-linkedin">
                  <a href="http://linkedin.com/in/username"><img src="assets/img/social/white/icons_linkedin.png" alt="LinkedIn" />
                  </a>
                </li>
                <li class="btn-social btn-vimeo">
                  <a href="http://vimeo.com/username"><img src="assets/img/social/white/icons_vimeo.png" alt="Vimeo" />
                  </a>
                </li>
                <li class="btn-social btn-youtube">
                  <a href="http://youtube.com/username"><img src="assets/img/social/white/icons_youtube.png" alt="YouTube" />
                  </a>
                </li>
                <li class="btn-social btn-flickr">
                  <a href="http://flickr.com/photos/username"><img src="assets/img/social/white/icons_flickr.png" alt="Flickr" />
                  </a>
                </li>
                <li class="btn-social btn-dribbble">
                  <a href="http://dribbble.com/username"><img src="assets/img/social/white/icons_dribbble.png" alt="Dribbble" />
                  </a>
                </li>
                <li class="btn-social btn-rss">
                  <a href="http://website.com/rss"><img src="assets/img/social/white/icons_rss.png" alt="RSS" />
                  </a>
                </li>
              </ul>
              <p class="copyright">Copyright 2012. Powered by <a href='index.html#'>Bootstrap 3</a></p>       
            </div>
          </div>
        </div>
      </div>

    </footer>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>

  </body>
</html>
